.body__content--tittle{
    padding: 3%;
    padding-left: 10%;
    font-size: 5rem;
    font-weight: bold;
    color: white;    
}

.body__content--container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 3%;
    padding-bottom: 5%;
}

.body__content--container-img-hawaii {
    background-image: url('../assets/Images/hawaii.jpg');
    background-size: cover;
    background-position: center;
}

.body__content--container-img-greece {
    background-image: url('../assets/Images/greece.jpg');
    background-size: cover;
    background-position: center;
}

.body__content--container-img-iceland {
    background-image: url('../assets/Images/iceland.jpg');
    background-size: cover;
    background-position: center;
}




.body__content--cards-container {
    width: 70%;
    height: 80%;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.body__content--card1,
.body__content--card2,
.body__content--card3 {
    width: 25%;
    height: 100%;
    padding: 0 2% 5% 2%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.body__content--activity1,
.body__content--activity2,
.body__content--activity3,
.body__content--activity4,
.body__content--activity5 {
    display: block;
    height: 20%;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.body__content--activity1 {
    font-weight: bold;
    border-bottom: 3px black solid;
}

.body__content--activity2,
.body__content--activity3,
.body__content--activity4,
.body__content--activity5 {
    background-color: #FEFAF5;
}