.body__hero--container {
    width: 100%;
    height: 18.75rem;
    background-color:#FEFAF5    ;
    border: 5px dashed black;
}


.body__recommendations--container {
    width: 100%;
    height: 18.75rem;
    background-color:aliceblue;
    border: 5px solid grey;
}