.body__hero--container {
    width: 100%;
    background-color: #FEFAF5;
    display: flex;
    flex-direction: row;
}

.body__hero--left-text-container {
    width: 50%;
    text-align: left;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.body__hero--left-text-tittle {
    font-weight: bold;
    text-align: left;
    margin-bottom: 5%;
    color: #335576;
    font-size: xx-large;
}


.body__hero--left-text-description {
    text-align: left;
    margin-bottom: 5%;
    color: #335576;
}

.body__hero--button-format {
    background-color: #DB7A4E;
    color: white;
    text-decoration: none;
    border-radius: 6.25rem;
    border: #DB7A4E;
    padding: .3125rem 1.5625rem .3125rem 1.5625rem;
}

.body__hero--right-image-container {
    width: 50%;
    text-align: center;
}

.body__hero--right-image-format {
    height: 18.75rem;
    margin: 5%;
}


.body__recommendations--container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.body__recommendations--container img {
    display: block;
    height: 18.75rem;
    box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, 0.2);
    border: rgba(0, 0, 0, 0.2) .0625rem solid;
    border-radius: .3125rem;
}

.body__recommendations--card-container {
    position: relative;
    margin-bottom: 5%;
}

.body__recommendations--text {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    color: white;
    font-weight: bold;
}

.body__recommendations--text-tittle {
    display: block;
    font-weight: bold;
    text-align: left;
    margin: 3% 0rem 1% 5%;
    color: #335576;
}