/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: white;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: white;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@font-face {
  font-family: "Avenir-Font";
  font-weight: 400;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/fonts/alternative-files/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Font";
  font-weight: 700;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Font";
  font-weight: 600;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format("truetype");
}
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  
src: https://app.pluralsight.com/library/courses/responsive-web-design-media-queries-css-preprocessing*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  
src: https://app.pluralsight.com/library/courses/responsive-web-design-media-queries-css-preprocessing*/
* {
  box-sizing: border-box;
}

/*  ----------------------- BODY --------------------------- */
body {
  font-family: "Avenir-Font";
  font-weight: 400;
  font-size: 16px;
}

/*  ----------------------- HEADER --------------------------- */
header {
  background-color: #323232;
  text-align: center;
}
header a {
  text-decoration: none;
}
header img {
  height: 20px;
  width: 120px;
  margin: 24px 0 24px 0;
}

/*  ----------------------- NAVIGATION --------------------------- */
nav {
  background-color: #323232;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  width: 50%;
  margin: 0 16px;
}
nav ul li a {
  text-align: center;
  font-family: "Avenir-Font";
  font-weight: 400;
  line-height: 2rem;
  width: 100%;
  height: 100%;
}
nav ul .active {
  border-bottom: 3px #FFFFFF solid;
}
nav ul .active a {
  font-family: "Avenir-Font";
  font-weight: 700;
  padding: 0;
  line-height: 2rem;
}
nav ul .active:hover {
  background-color: #AFAFAF;
}
nav a {
  text-decoration: none;
  color: #FFFFFF;
  width: 100%;
}
nav li:hover {
  background-color: #AFAFAF;
}

/*  ----------------------- MAIN --------------------------- */
main {
  box-sizing: border-box;
}
main a,
main p,
main h2,
main h3,
main h4 {
  padding: 8px 16px;
  margin: 16px 0;
  font-weight: 600;
}
main h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: "Avenir-Font";
}
main h3 {
  font-size: 0.875rem;
  font-weight: 600;
  font-family: "Avenir-Font";
  line-height: 1.375rem;
}
main p {
  font-size: 0.8125rem;
  font-weight: 400;
  font-family: "Avenir-Font";
  line-height: 1.125rem;
}
main img {
  width: 100%;
  padding: 8px 16px;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}
main img:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
main .main__article--phrases-container {
  padding: 0 16px;
}
main .main__article--phrases-container * {
  padding: 0;
  padding-bottom: 8px;
  margin: 0;
}
main .main__article--container {
  position: relative;
}
main .main__article--container .main__img--hero {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: -1;
}
main .main__article--container .main__article--h2 {
  position: absolute;
  color: white;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: left;
  padding-left: 16px;
  z-index: 10;
}
main .main__article--container #main__img--hero-overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}
main article h2 {
  padding: 24px 16px 16px 16px;
  margin-bottom: 0;
  width: 100%;
}
main .main__section--photogallery-container {
  background-color: #FAFAFA;
}

/*  ----------------------- FOOTER --------------------------- */
footer {
  background-color: #323232;
  padding: 0 16px;
}
footer a {
  text-decoration: none;
}
footer article {
  padding: 8px 0;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer p,
footer a {
  color: white;
}
footer h2 {
  padding: 8px 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
footer h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir-Font";
  font-weight: 600;
}
footer p {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
footer .footer__section--logos-container {
  display: flex;
  flex-direction: row;
}
footer img {
  padding: 8px 8px 8px 0;
  text-align: left;
}
footer .footer__h2--bandsite-logo-mobile {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  text-align: center;
  padding-top: 48px;
}
footer .footer__h2--bandsite-logo-not-mobile,
footer .footer__h2--bandsite-logo-not-mobile-container {
  visibility: hidden;
  width: 0;
  height: 0;
}
footer .footer__h2--bandsite-logo-mobile {
  position: relative;
  color: white;
  text-align: left;
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  /*  ----------------------- HEADER --------------------------- */
  header {
    display: flex;
    flex-direction: row;
  }
  header h1 {
    padding: 16px;
  }
  header img {
    margin: 24px;
  }
  /*  ----------------------- NAVIGATION --------------------------- */
  nav {
    width: 30%;
  }
  nav ul {
    height: 100%;
  }
  nav ul li {
    padding: 20px 0;
    line-height: 0.21vh;
  }
  /*  ----------------------- MAIN --------------------------- */
  main .main__section--aboutmusicians-container {
    padding: 0 48px;
  }
  main .main__section--aboutmusicians-container .main__article--phrases-container {
    padding: 0;
    margin-bottom: 16px;
  }
  main .main__section--aboutmusicians-container img,
  main .main__section--aboutmusicians-container .main__article--phrases-container,
  main .main__section--aboutmusicians-container .main__article--paragraph-container {
    padding: 16px 48px;
  }
  main .main__section--aboutmusicians-container h2 {
    font-family: "Avenir-Font";
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-left: 0;
  }
  main .main__section--aboutmusicians-container h3 {
    padding: 0;
    font-family: "Avenir-Font";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  main .main__section--aboutmusicians-container .main__h3--author-format {
    font-weight: 400;
    padding: 8px;
  }
  main .main__section--aboutmusicians-container .main__article--paragraph-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main .main__section--aboutmusicians-container .main__article--paragraph-container h4 {
    width: 100%;
    padding: 0;
    padding: 0;
    font-family: "Avenir-Font";
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  main .main__section--aboutmusicians-container .main__article--paragraph-container p {
    width: 50%;
    padding-left: 0;
    font-family: "Avenir-Font";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  main .main__article--container {
    padding: 0;
  }
  main .main__article--container .main__article--h2 {
    font-family: "Avenir-Font";
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-left: 48px;
  }
  main .main__section--photogallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 32px 16px 48px;
  }
  main .main__section--photogallery-container h2 {
    padding: 8px 0;
    width: 100%;
    font-family: "Avenir-Font";
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: left;
  }
  main .main__section--photogallery-container picture {
    padding: 0;
    margin-bottom: 16px;
    width: 30%;
  }
  main .main__section--photogallery-container img {
    margin: 0;
    padding: 0;
  }
  /*  ----------------------- FOOTER --------------------------- */
  footer * {
    padding: 0;
    margin: 0;
    position: relative;
  }
  footer {
    padding: 0;
    margin: 0;
    padding: 0 16px;
  }
  footer section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: left;
  }
  footer section h2 {
    width: 30%;
    line-height: 24px;
    line-height: 1;
  }
  footer .footer__section--information-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }
  footer .footer__section--information-container section {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  footer .footer__section--information-container article {
    width: 100%;
    position: relative;
  }
  footer .footer__h2--bandsite-logo-not-mobile-container {
    position: relative;
    width: 70%;
    visibility: unset;
  }
  footer .footer__h2--bandsite-logo-not-mobile {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-align: left;
    visibility: unset;
    line-height: 2;
    font-weight: 400;
  }
  footer .footer__h2--bandsite-logo-mobile,
  footer .footer__h2--bandsite-logo-mobile-container {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  /*  ----------------------- MAIN --------------------------- */
  main .main__article--container .main__article--h2 {
    padding: 16px 96px;
  }
  main .main__section--aboutmusicians-container {
    padding: 16px 96px;
  }
  main .main__section--aboutmusicians-container .main__article--phrases-container,
  main .main__section--aboutmusicians-container .main__article--paragraph-container {
    padding: 0 48px;
  }
  main .main__section--photogallery-container {
    padding: 16px 96px;
  }
  /*  ----------------------- FOOTER --------------------------- */
  footer {
    padding: 0 96px;
  }
}/*# sourceMappingURL=bio.css.map */