/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: white;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: white;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@font-face {
  font-family: "Avenir-Font";
  font-weight: 400;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/fonts/alternative-files/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Font";
  font-weight: 700;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Font";
  font-weight: 600;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format("truetype");
}
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  
src: https://app.pluralsight.com/library/courses/responsive-web-design-media-queries-css-preprocessing*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  
src: https://app.pluralsight.com/library/courses/responsive-web-design-media-queries-css-preprocessing*/
* {
  box-sizing: border-box;
}

/*  ----------------------- BODY --------------------------- */
body {
  font-family: "Avenir-Font";
  font-weight: 400;
  font-size: 1rem;
}

/*  ----------------------- HEADER --------------------------- */
header {
  background-color: #323232;
  text-align: center;
}
header a {
  text-decoration: none;
}
header img {
  height: 20px;
  width: 120px;
  margin: 1rem 0 1rem 0;
}

/*  ----------------------- NAVIGATION --------------------------- */
nav {
  background-color: #323232;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  width: 50%;
  margin: 0 1rem;
}
nav ul li a {
  text-align: center;
  font-family: "Avenir-Font";
  font-weight: 400;
  line-height: 2rem;
  width: 100%;
  height: 100%;
}
nav ul .header__nav--active {
  border-bottom: 3px #FFFFFF solid;
}
nav ul .header__nav--active a {
  font-family: "Avenir-Font";
  font-weight: 700;
  padding: 0;
  line-height: 2rem;
  color: #FFFFFF;
}
nav ul .header__nav--active:hover {
  background-color: #AFAFAF;
}
nav a {
  text-decoration: none;
  color: #FFFFFF;
  width: 100%;
  color: #E1E1E1;
}
nav li:hover {
  background-color: #AFAFAF;
}

/*  ----------------------- MAIN --------------------------- */
main {
  box-sizing: border-box;
}
main a,
main p,
main h1,
main h2,
main h3,
main h4 {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-weight: 600;
  color: #323232;
}
main h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: "Avenir-Font";
}
main h3 {
  font-size: 0.875rem;
  font-weight: 600;
  font-family: "Avenir-Font";
  line-height: 1.375rem;
}
main p {
  font-size: 0.8125rem;
  font-weight: 400;
  font-family: "Avenir-Font";
  line-height: 1.125rem;
}
main img {
  width: 100%;
  padding: 0.5rem 1rem;
}
.main__section--photogallery-container main img {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}
main .main__section--photogallery-container img:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
main .main__article--phrases-container {
  padding: 0 1rem;
}
main .main__article--phrases-container * {
  padding: 0;
  padding-bottom: 0.5rem;
  margin: 0;
}
main .main__article--container {
  position: relative;
}
main .main__article--container .main__img--hero {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: -1;
}
main .main__article--container .main__article--h1 {
  position: absolute;
  color: white;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  z-index: 10;
  font-size: 1.5rem;
  line-height: 1;
}
main .main__article--container #main__img--hero-overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}
main article h2 {
  padding: 0.5rem 1rem 1rem 1rem;
  margin-bottom: 0;
  width: 100%;
}
main .main__section--photogallery-container {
  background-color: #FAFAFA;
}
main .main__section-comments-container h2 {
  margin-top: 0;
  margin-bottom: 0;
}
main .main__section-comments-container #main__form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 0.5rem;
}
main .main__section-comments-container #main__form div {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}
main .main__section-comments-container #main__form div section * {
  margin: 1rem 0.5rem 1rem 0.5rem;
  display: block;
}
main .main__section-comments-container #main__form div section * input {
  margin: 1rem 0;
  width: 100%;
}
main .main__section-comments-container #main__form div section .main__form--image-format {
  background: url("../assets/images/mohan-muruge.jpg");
  background-size: cover;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
main .main__section-comments-container #main__form div .main_section--comment-container {
  width: 100%;
  margin-left: 0.5rem;
}
main .main__section-comments-container #main__form div .main_section--comment-container * {
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
main .main__section-comments-container #main__form div .main_section--comment-container textarea {
  width: 100%;
  height: 30%;
  border: 1px #E1E1E1 solid;
  resize: none;
}
main .main__section-comments-container #main__form div .main_section--comment-container input,
main .main__section-comments-container #main__form div .main_section--comment-container textarea {
  border-radius: 4px;
  border: 1px #E1E1E1 solid;
  padding: 0.5rem;
  font-family: "Avenir-Font";
  background-color: #FAFAFA;
}
main .main__section-comments-container #main__form div .main_section--comment-container input:focus,
main .main__section-comments-container #main__form div .main_section--comment-container textarea:focus {
  border: 1px #000000 solid;
  outline: none !important;
}
main .main__section-comments-container #main__form div .main_section--comment-container input:invalid,
main .main__section-comments-container #main__form div .main_section--comment-container textarea:invalid {
  border: 1px red solid !important;
}
main .main__section-comments-container #main__form div .main_section--comment-container label {
  color: #AFAFAF;
  font-family: "Avenir-Font";
  font-weight: 600;
  font-size: 0.625rem;
}
main .main__section-comments-container #main__form div .main_section--comment-container button {
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border-style: none;
}
main .main__section-comments-container #main__form div .main_section--comment-container button:hover {
  background-color: #000000;
}
main .main__section-comments-container .solid {
  border-top: 1px solid #E1E1E1;
  width: 90%;
  margin: auto;
}
main #main__article--comments-container {
  padding: 0.5rem 1rem;
}
main #main__article--comments-container .main__div--blank-logo {
  background-color: #E1E1E1;
  background-size: cover;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 1rem 0.5rem;
}
main #main__article--comments-container article {
  display: flex;
  margin-top: 0.5rem;
}
main #main__article--comments-container article div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
main #main__article--comments-container article div * {
  padding: 0.5rem;
  margin: 0;
  line-height: 0;
}
main #main__article--comments-container article div h3 {
  width: 70%;
  text-align: left;
  color: #323232;
  font-size: 0.75rem;
}
main #main__article--comments-container article div h4 {
  width: 30%;
  text-align: right;
  color: #AFAFAF;
  font-weight: 400;
  font-size: 0.625rem;
}
main #main__article--comments-container article div p {
  width: 100%;
  line-height: 1;
  color: #323232;
  font-size: 0.85rem;
}
main .main__section--shows-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1rem 1rem;
}
main .main__section--shows-container h2 {
  margin: 0;
  padding: 0;
}
main .main__section--shows-container div {
  width: 100%;
}
main .main__section--shows-container p {
  margin: 0.5rem 0;
  padding: 0;
}
main .main__section--shows-container button {
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-style: none;
  width: 100%;
}
main .main__section--shows-container button:hover {
  background-color: #000000;
}
main .main__section--shows-container .main__p--title-format {
  color: #AFAFAF;
  font-weight: 600;
}
main .main__section--shows-container .main__p--info-format {
  color: #323232;
  font-weight: 400;
  font-size: 0.8125rem;
}
main .main__section--shows-container .main__p--demi {
  font-weight: 600;
}

/*  ----------------------- FOOTER --------------------------- */
footer {
  background-color: #323232;
  padding: 0 1rem;
}
footer a {
  text-decoration: none;
}
footer article {
  padding: 0.5rem 0;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer p,
footer a {
  color: white;
}
footer h2 {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
footer h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir-Font";
  font-weight: 600;
}
footer p {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
footer .footer__section--logos-container {
  display: flex;
  flex-direction: row;
}
footer img {
  padding: 0.5rem 0.5rem 0.5rem 0;
  text-align: left;
}
footer .footer__h2--bandsite-logo-mobile {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  text-align: center;
  padding-top: 3rem;
}
footer .footer__h2--bandsite-logo-not-mobile,
footer .footer__h2--bandsite-logo-not-mobile-container {
  visibility: hidden;
  width: 0;
  height: 0;
}
footer .footer__h2--bandsite-logo-mobile {
  position: relative;
  color: white;
  text-align: left;
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  /*  ----------------------- HEADER --------------------------- */
  header {
    display: flex;
    flex-direction: row;
  }
  header h1 {
    padding: 1rem;
  }
  header img {
    margin: 1.5rem;
  }
  /*  ----------------------- NAVIGATION --------------------------- */
  nav {
    width: 30%;
  }
  nav ul {
    height: 100%;
  }
  nav ul li {
    padding: 1.25rem 0;
    line-height: 0.21vh;
  }
  /*  ----------------------- MAIN --------------------------- */
  main .main__section--aboutmusicians-container {
    padding: 0 3rem;
  }
  main .main__section--aboutmusicians-container .main__article--phrases-container {
    padding: 0;
    margin-bottom: 1rem;
  }
  main .main__section--aboutmusicians-container img,
  main .main__section--aboutmusicians-container .main__article--phrases-container,
  main .main__section--aboutmusicians-container .main__article--paragraph-container {
    padding: 1rem 3rem;
  }
  main .main__section--aboutmusicians-container h2 {
    font-family: "Avenir-Font";
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-left: 0;
  }
  main .main__section--aboutmusicians-container h3 {
    padding: 0;
    font-family: "Avenir-Font";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  main .main__section--aboutmusicians-container .main__h3--author-format {
    font-weight: 400;
    padding: 0.5rem;
  }
  main .main__section--aboutmusicians-container .main__article--paragraph-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main .main__section--aboutmusicians-container .main__article--paragraph-container h4 {
    width: 100%;
    padding: 0;
    padding: 0;
    font-family: "Avenir-Font";
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  main .main__section--aboutmusicians-container .main__article--paragraph-container p {
    width: 50%;
    padding-left: 0;
    font-family: "Avenir-Font";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  main .main__article--container {
    padding: 0;
  }
  main .main__article--container .main__article--h1 {
    font-family: "Avenir-Font";
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-left: 3rem;
  }
  main .main__section--photogallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2rem 1rem 3rem;
  }
  main .main__section--photogallery-container h2 {
    padding: 0.5rem 0;
    width: 100%;
    font-family: "Avenir-Font";
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: left;
  }
  main .main__section--photogallery-container picture {
    padding: 0;
    margin-bottom: 1rem;
    width: 30%;
  }
  main .main__section--photogallery-container img {
    margin: 0;
    padding: 0;
  }
  main .main__section-comments-container {
    padding: 0 2rem 1rem 3rem;
  }
  main .main__section-comments-container #main__form div {
    padding: 0;
    margin: 0 0 1rem 0;
  }
  main .main__section-comments-container h2 {
    padding: 0.5rem 0;
    width: 100%;
    font-family: "Avenir-Font";
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: left;
  }
  main .main__section-comments-container #main__article--comments-container {
    margin: 1.5rem 0 0 0;
    padding: 0;
  }
  main .main__section--shows-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0 2rem 1rem 3rem;
  }
  main .main__section--shows-container div {
    width: 20%;
  }
  /*  ----------------------- FOOTER --------------------------- */
  footer * {
    padding: 0;
    margin: 0;
    position: relative;
  }
  footer {
    padding: 0;
    margin: 0;
    padding: 0 1rem;
  }
  footer section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: left;
  }
  footer section h2 {
    width: 30%;
    line-height: 1.5rem;
    line-height: 1;
  }
  footer .footer__section--information-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }
  footer .footer__section--information-container section {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  footer .footer__section--information-container article {
    width: 100%;
    position: relative;
  }
  footer .footer__h2--bandsite-logo-not-mobile-container {
    position: relative;
    width: 70%;
    visibility: unset;
  }
  footer .footer__h2--bandsite-logo-not-mobile {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-align: left;
    visibility: unset;
    line-height: 2;
    font-weight: 400;
  }
  footer .footer__h2--bandsite-logo-mobile,
  footer .footer__h2--bandsite-logo-mobile-container {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  /*  ----------------------- MAIN --------------------------- */
  main .main__article--container .main__article--h1 {
    padding: 1rem 6rem;
  }
  main .main__section--aboutmusicians-container {
    padding: 1rem 6rem;
  }
  main .main__section--aboutmusicians-container .main__article--phrases-container,
  main .main__section--aboutmusicians-container .main__article--paragraph-container {
    padding: 0 3rem;
  }
  main .main__section--photogallery-container {
    padding: 1rem 6rem;
  }
  main .main__section-comments-container {
    padding: 1rem 6rem;
  }
  main .main__section-comments-container #main__form {
    width: 40%;
    margin: auto;
    margin-top: 1.5rem;
  }
  main .main__section-comments-container #main__article--comments-container {
    width: 40%;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  /*  ----------------------- FOOTER --------------------------- */
  footer {
    padding: 0 6rem;
  }
}/*# sourceMappingURL=shows.css.map */