@import "./partials/reset";

@import "./partials/variables";

@import "./partials/mobile_default";

main {
  .main__article--container {
    display: flex;
    flex-direction: column;
    position: relative;

    background: url("../assets/images/photo-gallery-3.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-size: cover;

    * {
      margin: (4 * $defaultPadding) 0 0 0;
      padding: 0;
      padding: 0 $doubleDefaultPadding;
      line-height: 1;
    }

    p,
    .main__article--h1 {
      width: 100%;
      color: $primaryColorWhite;
      position: relative;
      transform: none;
    }

    p {
      font-weight: $regularWeight;
      font-size: 1rem;
    }

    iframe {
      width: 100%;
      height: 100%;
      margin-bottom: $doubleDefaultPadding;
    }
  }
}

@media only screen and (min-width: 768px) {
  @import "./partials/tablet";

  main {
    .main__article--container {
      iframe {
        margin-bottom: $doubleDefaultPadding;
        padding: 0 3rem;
      }

      p {
        padding-left: 3rem;
      }
    }
  }

  .main__shows--container {
    padding: (3 * $defaultPadding) (6 * $defaultPadding);

    article {
      h2 {
        padding: (3 * $defaultPadding) 0%;
      }
    }
    .main__section--shows-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;

      * {
        padding: $defaultPadding 0;
      }

      article {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p,
        button {
          width: 25%;
          padding: $defaultPadding 0;
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  @import "./partials/desktop";

  main {
    .main__article--container {
      iframe {
        margin-bottom: $doubleDefaultPadding;
        padding: 0 6rem;
      }

      p {
        padding-left: 6rem;
      }
    }

    .main__shows--container {
      display: flex;
      flex-direction: row;
      padding: (3 * $defaultPadding) (6 * $doubleDefaultPadding);

      h2 {
        padding: $defaultPadding;
        margin: 0;
      }

      .main__section--shows-container {
        width: 100%;
        margin-left: (3 * $doubleDefaultPadding);

        .shows__row {
          padding-left: (3 * $defaultPadding);
          padding-right: (3 * $defaultPadding);
        }
        .shows__row--hover:hover {
          background-color: $secondaryColorDarkMercury;
          border-radius: 4px;
        }

        .shows__row--selected {
          border: 1px $primaryColorBlack solid;
          border-radius: 4px;
        }
      }
    }
  }
}
