/*  ----------------------- MAIN --------------------------- */
main {
  .banner {
    .banner__h1 {
      padding: $doubleDefaultPadding (12 * $defaultPadding);
    }
  }

  .musicians {
    padding: $doubleDefaultPadding (12 * $defaultPadding);

    .musicians__phrases,
    .musicians__p {
      padding: 0 (6 * $defaultPadding);
    }
  }

  .gallery {
    padding: $doubleDefaultPadding (12 * $defaultPadding);
  }

  .comments {
    padding: $doubleDefaultPadding (12 * $defaultPadding);

    #comments__form {
      width: 40%;
      margin: auto;
      margin-top: (3 * $defaultPadding);
    }

    #new-comments {
      width: 40%;
      margin: auto;
      margin-top: (3 * $defaultPadding);
      margin-bottom: (3 * $defaultPadding);
    }
  }
}

//end main

/*  ----------------------- FOOTER --------------------------- */
footer {
  padding: 0 (12 * $defaultPadding);
}

//end footer
