/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  
src: https://app.pluralsight.com/library/courses/responsive-web-design-media-queries-css-preprocessing*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  
src: https://app.pluralsight.com/library/courses/responsive-web-design-media-queries-css-preprocessing*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*  ----------------------- BODY --------------------------- */
body {
  font-family: $defaultFont;
  font-weight: $regularWeight;
  font-size: 1rem;
}

/*  ----------------------- HEADER --------------------------- */
.header {
  background-color: $primaryColorBlack;
  text-align: center;

  &__a {
    text-decoration: none;
  }

  &__img {
    height: 1.25rem;
    margin: (2 * $defaultPadding) 0 (2 * $defaultPadding) 0;
    width: 7.5rem;
  }
}

//end header

/*  ----------------------- NAVIGATION --------------------------- */
.nav {
  background-color: $primaryColorBlack;
  &__a {
    color: $secondaryColorDarkMercury;
    font-weight: $regularWeight;
    height: 100%;
    line-height: 2rem;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  &__li {
    margin: 0 $doubleDefaultPadding;
    width: 50%;
    &:hover {
      border-bottom: 0.1875rem $primaryColorWhite solid;
    }
  }
  &__ul {
    display: flex;
    flex-direction: row;
  }
  &--active {
    border-bottom: 0.1875rem $primaryColorWhite solid;
    color: $primaryColorWhite;
    font-weight: $boldWeight;
  }
}

//end nav

/*  ----------------------- MAIN --------------------------- */
main {
  box-sizing: border-box;

  a,
  p,
  h1,
  h2,
  h3,
  h4 {
    padding: $defaultPadding $doubleDefaultPadding;
    margin: $defaultPadding 0;
    font-weight: $demiWeight;
    color: $primaryColorBlack;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: $demiWeight;
    font-family: $defaultFont;
  }

  h3 {
    font-size: 0.875rem;
    font-weight: $demiWeight;
    font-family: $defaultFont;
    line-height: 1.375rem;
  }

  p {
    font-size: 0.8125rem;
    font-weight: $regularWeight;
    font-family: $defaultFont;
    line-height: 1.125rem;
  }

  img {
    .gallery & {
      //https://codepen.io/AnthonyMoss/pen/RwwyQQ (for greyscale)
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
    }

    width: 100%;
    padding: $defaultPadding $doubleDefaultPadding;
  }

  .gallery img {
    &:hover {
      //https://codepen.io/AnthonyMoss/pen/RwwyQQ (for greyscale)
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
    }
  }

  .musicians__phrases {
    * {
      padding: 0;
      padding-bottom: $defaultPadding;
      margin: 0;
    }

    padding: 0 $doubleDefaultPadding;
  }

  .banner {
    position: relative;

    .banner__img {
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0;
      z-index: -1;
    }

    .banner__h1 {
      position: absolute;
      color: white;
      top: 50%;
      transform: translate(0%, -50%);
      width: 100%;
      text-align: left;
      padding-left: $doubleDefaultPadding;
      z-index: 10;
      font-size: 1.5rem;
      line-height: 1;
    }

    #banner__overlay {
      position: relative;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  article {
    h2 {
      padding: $defaultPadding $doubleDefaultPadding $doubleDefaultPadding
        $doubleDefaultPadding;
      margin-bottom: 0;
      width: 100%;
    }
  }

  .gallery {
    background-color: $secondaryColorDarkAlabaster;
  }

  .comments {
    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }

    #comments__form {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      margin-bottom: $defaultPadding;

      div {
        padding: $defaultPadding $doubleDefaultPadding;
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: 100%;

        & section {
          * {
            margin: $doubleDefaultPadding $defaultPadding $doubleDefaultPadding
              $defaultPadding;
            display: block;
          }

          * input {
            margin: $doubleDefaultPadding 0;
            width: 100%;
          }

          & .comments__icon {
            background: url("../assets/images/mohan-muruge.jpg");
            background-size: cover;
            border-radius: 50%;
            width: 2.25rem;
            height: 2.25rem;
          }
        }

        .comments__inputs {
          width: 100%;
          margin-left: $defaultPadding;

          * {
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
          }

          textarea {
            width: 100%;
            height: 30%;
            border: 0.0625rem $secondaryColorDarkMercury solid;
            resize: none;
          }

          input,
          textarea {
            border-radius: 0.25rem;
            border: 0.0625rem $secondaryColorDarkMercury solid;
            padding: $defaultPadding;
            font-family: $defaultFont;
            background-color: $secondaryColorDarkAlabaster;

            &:focus {
              border: 0.0625rem $secondaryColorDarkBlack solid;
              outline: none !important;
            }

            &:invalid {
              border: 0.0625rem red solid !important;
            }
          }

          label {
            color: $primaryColorSilver;
            font-family: $defaultFont;
            font-weight: $demiWeight;
            font-size: 0.625rem;
          }

          button {
            background-color: $primaryColorBlack;
            color: $primaryColorWhite;
            border-radius: 0.25rem;
            padding: $defaultPadding $doubleDefaultPadding;
            border-style: none;

            &:hover {
              background-color: $secondaryColorDarkBlack;
            }
          }
        }
      }
    }
  }

  #new-comments {
    padding: $defaultPadding $doubleDefaultPadding;

    .new-comments__logo {
      background-color: $secondaryColorDarkMercury;
      background-size: cover;
      border-radius: 50%;
      width: 2.25rem;
      height: 2.25rem;
      padding: 0.5rem 1rem;
      margin: 0 0.5rem 1rem 0.5rem;
    }

    article {
      display: flex;
      padding: $doubleDefaultPadding 0;
      border-top: 0.0625rem solid $secondaryColorDarkMercury;

      div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        * {
          padding: 0.5rem;
          margin: 0;
          line-height: 0;
        }

        h3 {
          width: 50%;
          text-align: left;
          color: $primaryColorBlack;
          font-size: 0.75rem;
        }

        h4 {
          width: 50%;
          text-align: right;
          color: $primaryColorSilver;
          font-weight: $regularWeight;
          font-size: 0.625rem;
        }

        p {
          width: 100%;
          line-height: 1;
          color: $primaryColorBlack;
          font-size: 0.85rem;
        }
      }
    }
  }

  .shows {
    display: flex;
    flex-direction: column;
    padding: $defaultPadding $doubleDefaultPadding $doubleDefaultPadding
      $doubleDefaultPadding;

    & h2 {
      margin: 0;
      padding: 0;
    }

    & div {
      width: 100%;
    }

    & p {
      margin: $defaultPadding 0;
      padding: 0;
    }

    & button {
      background-color: $primaryColorBlack;
      color: $primaryColorWhite;
      border-radius: 0.25rem;
      padding: $defaultPadding $doubleDefaultPadding;
      margin: $doubleDefaultPadding 0;
      border-style: none;
      width: 100%;

      &:hover {
        background-color: $secondaryColorDarkBlack;
      }
    }

    .shows__title {
      color: $primaryColorSilver;
      font-weight: $demiWeight;
    }

    .shows__info {
      color: $primaryColorBlack;
      font-weight: $regularWeight;
      font-size: 0.8125rem;
    }

    .shows--demi {
      font-weight: $demiWeight;
    }
  }
}

//end main

/*  ----------------------- FOOTER --------------------------- */
.footer {
  background-color: $primaryColorBlack;
  padding: 0 $doubleDefaultPadding;

  &__article {
    padding: $defaultPadding 0;
  }

  &__a {
    text-decoration: none;
  }

  &__h1,
  &__h2,
  &__h3,
  &__h4,
  &__p,
  &__a {
    color: white;
  }

  &__h2 {
    padding: $defaultPadding 0;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: $demiWeight;
  }

  &__h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: $defaultFont;
    font-weight: $demiWeight;
  }

  &__p {
    font-size: 0.8125rem;
    font-weight: $regularWeight;
    line-height: 1.125rem;
  }

  &__logos {
    display: flex;
    flex-direction: row;
  }

  &__img {
    padding: $defaultPadding $defaultPadding $defaultPadding 0;
    text-align: left;
  }

  &__h2-logo {
    color: white;
    padding: (2 * $defaultPadding) 0;
  }
}

//end footer
