/*  ----------------------- HEADER --------------------------- */
.header {
  display: flex;
  flex-direction: row;

  &__h1 {
    padding: $doubleDefaultPadding;
  }

  &__img {
    margin: (3 * $defaultPadding);
  }
}

//end header

/*  ----------------------- NAVIGATION --------------------------- */
.nav {
  width: 30%;

  &__ul {
    height: 100%;
  }
  &__li {
    padding: (2.5 * $defaultPadding) 0;
    line-height: 0.21vh;
  }
}

//end nav

/*  ----------------------- MAIN --------------------------- */
main {
  .musicians {
    padding: 0 (6 * $defaultPadding);

    .musicians__phrases {
      padding: 0;
      margin-bottom: $doubleDefaultPadding;
    }

    img,
    .musicians__phrases,
    .musicians__p {
      padding: $doubleDefaultPadding (6 * $defaultPadding);
    }

    h2 {
      font-family: $defaultFont;
      font-weight: $demiWeight;
      font-size: 2.25rem;
      line-height: 2.75rem;
      padding-left: 0;
    }

    h3 {
      padding: 0;
      font-family: $defaultFont;
      font-weight: $demiWeight;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .musicians__author {
      font-weight: 400;
      padding: $defaultPadding;
    }

    .musicians__p {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

      h4 {
        width: 100%;
        padding: 0;
        padding: 0;
        font-family: $defaultFont;
        font-weight: $demiWeight;
        font-size: 2.25rem;
        line-height: 2.75rem;
      }

      p {
        width: 50%;
        padding-left: 0;
        font-family: $defaultFont;
        font-weight: $regularWeight;
        font-size: 0.875rem;
        line-height: 1.375rem;
      }
    }
  }

  .banner {
    .banner__h1 {
      font-family: $defaultFont;
      font-weight: $demiWeight;
      font-size: 3.75rem;
      line-height: 4.25rem;
      padding-left: (6 * $defaultPadding);
    }
  }

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 (4 * $defaultPadding) $doubleDefaultPadding (6 * $defaultPadding);

    & h2 {
      padding: $defaultPadding 0;
      width: 100%;
      font-family: $defaultFont;
      font-weight: $demiWeight;
      font-size: 2.25rem;
      line-height: 2.75rem;
      text-align: left;
    }

    & picture {
      padding: 0;
      margin-bottom: $doubleDefaultPadding;
      width: 30%;
    }

    img {
      margin: 0;
      padding: 0;
    }
  }

  .comments {
    padding: 0 (4 * $defaultPadding) $doubleDefaultPadding (6 * $defaultPadding);

    & #comments__form {
      & div {
        padding: 0;
        margin: 0 0 (2 * $defaultPadding) 0;
      }
    }

    h2 {
      padding: $defaultPadding 0;
      width: 100%;
      font-family: $defaultFont;
      font-weight: $demiWeight;
      font-size: 2.25rem;
      line-height: 2.75rem;
      text-align: left;
    }

    #new-comments {
      margin: (3 * $defaultPadding) 0 0 0;
      padding: 0;
    }
  }
}

//end main

/*  ----------------------- FOOTER --------------------------- */
.footer {
  padding: 0;
  margin: 0;
  padding: $doubleDefaultPadding (6 * $defaultPadding);

  &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: left;
  }

  &__h2--flex {
    line-height: (3 * $defaultPadding);
    line-height: 1;
  }

  &__information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__section--flex {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  %__article--flex {
    width: 100%;
    position: relative;
  }
  &__top {
    justify-content: space-evenly;
  }
  &__logos {
    justify-content: left;
  }

  &--custom-width {
    width: 33%;
  }
}
//end footer
