/* colors:
nitro-blue #5BACC3
nitro-pink #FFF0ED
graphite #393939 
light gray #F7F7F7 */

body {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #393939;
}

.nitro-pink {
    background-color: #FFF0ED;
}

.nitro-blue-font {
    color: #5BACC3;
}

.icons {
    width: 3.125rem;
}

.logos {
    width: 3.125rem;
}

.button {
    background-color: #5BACC3;
    color: white;
    border: none;
    padding: 0rem;
}


h1,
h2 {
    font-size: 3.75rem;
    font-weight: 300;
    color: #393939;
}

h3,
nav-heading,
footer-heading {
    font-size: 2.0625rem;
    font-weight: 300;
    color: #393939;
}


p {
    font-size: 1.125rem;
    font-weight: 400;
    color: #393939;
}

p.italic {
    font-style: italic;
}


.bold {
    font-weight: 700;
}