* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* border: solid red 1px; */
}

body {
    font-family: "Open Sans";
    font-weight: 400;
    color: #393939;
}

.header__text--nitro-pink {
    background-color: #fff0ed;
}

.footer__text--nitro-pink {
    background-color: #fff0ed;
}

.header__text--graphite-font {
    color: #393939;
}


.graphite-font {
    color: #393939;
}


.header__text--nitro-blue-font {
    color: #5bacc3;
}


.body__text--nitro-blue-font {
    color: #5bacc3;
}

.nitro-blue-font {
    color: #5bacc3;
}

.icons {
    width: 3.125rem;
}


.header__logos--format {
    width: 3.125rem;
}


.footer__logos--format {
    width: 3.125rem;
}

.button {
    background-color: #5bacc3;
    color: white;
    border: none;
    width: 11.25rem;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
}

h1,
h2 {
    font-size: 3.75rem;
    font-weight: 300;
    color: #393939;
}

h3 {
    font-size: 2.0625rem;
    font-weight: 300;
    color: #393939;
}

p {
    font-size: 1.125rem;
    font-weight: 400;
    color: #393939;
}

p.body__text--italic {
    font-style: italic;
}

.body__text--bold {
    font-weight: 700;
}

.inline-block * {
    display: inline-block;
}

.inline * {
    display: inline;
}

.header__nav--text * {
    margin: 0rem 0rem 0.625rem 1.25rem;
}

