.main__background--nitro-pink {
    background-color: #fff0ed;
}

.main__background--light-gray {
    background-color: #f7f7f7;
}

.main__menu--local-nav-outter-box {
    display: block;
    width: 100%;
    background-color: #393939;
    text-align: center;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
}

.menu-local-nav * {
    width: 100%;
    background-color: #393939;
    color: white;
    list-style-type: none;
    margin: 0.3125rem;
    padding-left: 1.25rem;
    border-left: solid #5bacc3 0.25rem;
}

.main__background--container {
    width: 100%;
    position: relative;
}

.main__h1--menu-title {
    width: 18.75rem;
    height: 12.5rem;
    background-color: #393939;
    color: white;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.main__background--container img {
    width: 100%;
    height: auto;
}

.main__text--centered {
    width: 100%;
    text-align: center;
}

.body__text--special-h2s {
    color: #393939;
    margin-top: 0.625rem;
    margin-bottom: 6.25rem;
}

.main__paragraphs--centered {
    width: 40%;
    position: relative;
    margin: auto;
}

p {
    padding-bottom: 0.625rem;
}

h3 {
    padding-bottom: 0.3125rem;
}